.about-box {
  color: white;
  background-color: #0A0A0A;
  height: 100vh;
  overflow: hidden;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 500ms linear;
  // .pic {
  //   max-width: -webkit-fill-available;
  //   filter: contrast(1.2);
  //   // filter: brightness(0.9);
  // }

  .about-header {
    margin-top: 10vh;
    width: 100vw;
    margin-left: 10vw;
    text-align: left;
    font-size: 700%;
  }
}

.about-box.scrolled {
  background-color:  #F7F7F7;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 500ms linear;
}