.about-box {
  color: white;
  background-color: #1B191C; 
  height: 100vh;
  // .pic {
  //   max-width: -webkit-fill-available;
  //   filter: contrast(1.2);
  //   // filter: brightness(0.9);
  // }
}