.contact-box {
  background-color: #1B191C; 
  height: 100vh;
  color: white;

    .svg-wrapper {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    	margin: 0 auto;
      width: 520px;  
      text-align: center;
    }
    .shape {
      stroke-dasharray: 0 580;
      stroke-dashoffset: 580;
      stroke-width: 4px;
      fill: transparent;
      stroke: #fefefe;
      border-bottom: 5px solid black;
      transition: stroke-width 2.7s, stroke-dashoffset 2.7s, stroke-dasharray 1.3s;
      transition-delay: 0s;
      fill: #1B191C;  
    }
    .text {
      font-family: 'David Libre';
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 8px;
      color: #fff;
      top: -48px;
      position: relative;
      text-align: center;
      height: 60px;
      width: 520px;
      font-variant: small-caps;
    }
    .shape-border {
      stroke-width: 4px;
      stroke-dashoffset: 0;
      stroke-dasharray: 480 100;
    }

}