.contact-box {
  background-color: #0A0A0A;
  height: 100vh;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .contact-note {
    margin-top: 10vh;
    width: 100vw;
    margin-left: 10vw;
    text-align: left;
  }
  .contact-header {
    width: 100vw;
    margin-left: 10vw;
    text-align: left;
    font-size: 700%;
  }

  .line-1 {
    display: block;
    width: 0vw;
    height: 1px;
    border: 0;
    border-top: 2px solid #132C2D;
    margin: 1em 0;
    padding: 0;
    transition: width 1.5s ease;
  }

  .line-1.slide, .line-2.slide {
    width: 90vw;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    align-items: center;

     .contact-words {
       font-size: 150%;
       margin: 7vh;
     }

     .link {
       visibility: hidden;
     }

     .logo {
      visibility: visible;
       margin: 7vh;
       filter: invert(1);
       height: 25vh;
     }
    
  }

  .line-2 {
    display: block;
    width: 0vw;
    height: 1px;
    border: 0;
    border-top: 2px solid #132C2D;
    margin: 1em 0;
    padding: 0;
    transition: width 2.5s ease;
  }

  .scroll-top {
    cursor: pointer;
  }

}

@media (max-width: 768px) {
  .contact-box {
    .contact-header {
      font-size: 300%;
    }

    .contact-info {
      max-width: 90vw;
      .contact-words {
        font-size: 100%;
        margin: 4vh;
      }

      .logo {
        visibility: visible;
         margin: 4vh;
         filter: invert(1);
         height: 20vh;
       }
    }
  }


}