.contact-box {
  background-color: #0A0A0A;
  height: 100vh;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  flex-direction: column;
  

  .contact-header {
    font-size: 700%;
  }

  .line-1 {
    display: block;
    width: 0vw;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    transition: width 1.5s ease;
  }

  .line-1.slide, .line-2.slide {
    width: 80vw;
  }

  .contact-info {
    height: 60%;

    
  }

  .line-2 {
    display: block;
    width: 0vw;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    transition: width 2.5s ease;
  }

  .scroll-top {
    cursor: pointer;
  }

}