@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&display=swap');

.home-box {
  color: #F7F7F7;
  font-family: 'Cormorant Garamond', serif;
  // font-family: 'Cinzel', serif;
  background-color: #0A0A0A;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  .greeting {
    position: relative;
    font-weight: 100;
    text-align: left;
    font-size: 400%;
    z-index: 1;
  }

  .greeting-box {
    width: 100vw;
    max-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .greeting-icon {
      display: block;
      height: 120%;
      width: auto;
      margin-top: -6vh;
      // margin-left: auto;
      // margin-right: auto;
    }
    span {
      margin-right: 1vw;
      margin-left: 1vw;
      min-width: 10vw;
    }
  }

  .title {
    position: relative;
    font-weight: 100;
    text-align: left;
    font-size: 400%;
    z-index: 1;
  }
}