.skills-box {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #0A0A0A;
  -webkit-transition: background-color 1700ms linear;
  -moz-transition: background-color 1700ms linear;
  -o-transition: background-color 1700ms linear;
  -ms-transition: background-color 1700ms linear;
  transition: background-color 1700ms linear;

  
  .scatter {
    
  }
}
.skills-box.scrolled {
  background-color: white;
  -webkit-transition: background-color 1700ms linear;
  -moz-transition: background-color 1700ms linear;
  -o-transition: background-color 1700ms linear;
  -ms-transition: background-color 1700ms linear;
  transition: background-color 1700ms linear;
}