
.skills-box {
  font-family: 'Cormorant Garamond', serif;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #0A0A0A;
  color: #0A0A0A;
  -webkit-transition: background-color 1700ms linear;
  -moz-transition: background-color 1700ms linear;
  -o-transition: background-color 1700ms linear;
  -ms-transition: background-color 1700ms linear;
  transition: background-color 1000ms linear;

  
  .scatter {
    
  }

  .skills-header {
    margin-top: 10vh;
    font-size: 700%;
  }
  
  .text-box {
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw; 
    column-gap: 10vw;
    row-gap: 10vw;
  }
}
.skills-box.scrolled {
  background-color: white;
  -webkit-transition: background-color 1700ms linear;
  -moz-transition: background-color 1700ms linear;
  -o-transition: background-color 1700ms linear;
  -ms-transition: background-color 1700ms linear;
  transition: background-color 1000ms linear;
}